<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<%= form_for(Message.new, html: {class: "form-horizontal" }) do |f| %>
	<div class="form-group">
		<%= f.label :名前, class: ""%>
    <%= f.text_field :name %>
	</div>
	<div class="form-group">
		<%= f.label :内容, class: ""%>
		<%= f.text_area :body, :class => "form_control", :size => "50" %>
	</div>
  <%= f.submit class: "btn btn-sm btn-primary" %>
	</div>
</form>

<% end %>